.divTechVGlo{
    display: grid;
    width: 90%;
    position: fixed; 
    bottom: 20px;
    right: 0;
    height: 55vh;

}
.divTechBtn{
    grid-column: 1;
    width: 50px;
    left: 0;
    right: 0;
}
.btnTech{
    border-radius: 50%;
    height: 60px;
    width: 60px;
    border: white solid 1px;
    background-color: rgba(255, 255, 255, 0);
    color: #ffffff;
}
.divTechText{
    grid-column: 2;
    width: 30vw;
}

.divTechText>h5{
    left: 0;
}
.divTechImg{
    grid-column: 3;
    width: 25vw;
    height: 500px

}
.divTechImg>img{
    width: 100%;
    /* height: 100%;
    object-fit: cover; */
}
