.divTechVGlo{
    display: grid;
    width: 90%;
    position: fixed; 
    bottom: 20px;
    right: 0;
    height: 55vh;

}
.divTechBtn{
    grid-column: 1;
    width: 60px;
}
.divTechBtn>nav{
    display: flex;
    flex-wrap: wrap;
    height: 250px;
    justify-content: space-around;
}
.btnTech{
    border-radius: 50%;
    height: 60px;
    width: 60px;
    border: white solid 1px;
    background-color: rgba(255, 255, 255, 0);
    color: #ffffff;
    display: grid;
    text-decoration: none;
    text-align: center;
    align-items: center;    
}
.btnTech:hover{
    border: white solid 1px;
    background-color: rgb(255, 255, 255);
    color: #000000;
}
.btnTech.active{
    border: white solid 1px;
    background-color: rgb(255, 255, 255);
    color: #000000;
    scale: 1.3;
}
.divTechText{
    grid-column: 2;
    width: 30vw;
}

.divTechText>h5{
    left: 0;
}
.divTechImg{
    grid-column: 3;
    width: 25vw;
    height: 500px
}
.divTechImg>img{
    width: 100%;
    /* height: 100%;
    object-fit: cover; */
}

@media (max-width: 768px) {
    .divTechBtn{

        grid-row: 1;
        grid-column: 1;
        scale: 0.8;
        width: auto;
    }
    .divTechBtn>nav{
        height: 60px;
    }
    .divTechImg{
        grid-row: 1;
        height: auto;
        grid-column: 2;

    }
    .divTechText{
        grid-row: 2;
        grid-column: 1/3;
        width: 85vw;

    }
    .divTechVGlo{
        height: 70vh;
    }
}