.divDestGlo{
    background-image: url('../../assets/img/destination/background-destination-desktop.jpg');
    height: 100%;
    display: grid;
}
.h2{
    position: absolute;
    top: 15vh;
    left: 15vw;
    font-weight: 100;
    font-family: sans-serif;
}
span{
    color: rgb(71, 71, 71);
}
